/** Modified version of Milligram */
@import './theme.css';

/* Specifies the styles for the root app component. */
#app {
  /* Ensure the root app element takes up the full screen size. */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--cpg-color-bg-app);
  color: var(--cpg-color-text-main);
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--cpg-color-bg-app);
  color: var(--cpg-color-text);
  font-family: var(--cpg-font-family-sans);
  font-size: var(--cpg-font-size);
  font-weight: var(--cpg-font-weight);
  letter-spacing: var(--cpg-letter-spacing);
  line-height: var(--cpg-line-height);
}

blockquote {
  border-left: var(--cpg-border-width-thick) solid var(--cpg-color-border);
  margin-left: 0;
  margin-right: 0;
  padding: var(--cpg-padding-blockquote);
}

blockquote *:last-child {
  margin-bottom: 0;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: var(--cpg-color-primary);
  border: var(--cpg-border-width) solid var(--cpg-color-primary);
  border-radius: var(--cpg-border-radius);
  color: var(--cpg-color-primary-contrast);
  cursor: pointer;
  display: inline-block;
  font-size: var(--cpg-font-size-sm);
  font-weight: var(--cpg-font-weight-button);
  height: var(--cpg-height-button);
  letter-spacing: var(--cpg-letter-spacing-button);
  line-height: var(--cpg-line-height-button);
  padding: var(--cpg-padding-button);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: var(--cpg-color-focus);
  border-color: var(--cpg-color-focus);
  color: var(--cpg-color-primary-contrast);
  outline: 0;
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  cursor: default;
  opacity: 0.5;
}

.button[disabled]:focus,
.button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
  background-color: var(--cpg-color-primary);
  border-color: var(--cpg-color-primary);
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: var(--cpg-color-primary);
}

.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
  background-color: transparent;
  border-color: var(--cpg-color-focus);
  color: var(--cpg-color-focus);
}

.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
  border-color: inherit;
  color: var(--cpg-color-primary);
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: var(--cpg-color-primary);
}

.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--cpg-color-focus);
}

.button.button-clear[disabled]:focus,
.button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
  color: var(--cpg-color-border);
}

code {
  background: var(--cpg-color-code);
  border-radius: var(--cpg-border-radius);
  font-size: var(--cpg-font-size-sm);
  margin: var(--cpg-margin-code);
  padding: var(--cpg-padding-code);
  white-space: nowrap;
}

pre {
  background: var(--cpg-color-code);
  border-left: var(--cpg-border-width-thick) solid var(--cpg-color-primary);
  overflow-y: hidden;
}

pre > code {
  border-radius: 0;
  display: block;
  padding: var(--cpg-padding-pre-code);
  white-space: pre;
}

hr {
  border: 0;
  border-top: var(--cpg-border-width) solid var(--cpg-color-divider);
  margin: var(--cpg-margin-divider);
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
  background-color: transparent;
  border: var(--cpg-border-width) solid var(--cpg-color-border);
  border-radius: var(--cpg-border-radius);
  box-shadow: none;
  box-sizing: inherit;
  height: var(--cpg-height-input);
  padding: var(--cpg-padding-input);
  width: 100%;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: var(--cpg-color-focus);
  outline: 0;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>')
    center right no-repeat;
  padding-right: var(--cpg-spacing-7x);
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%239b4dca" d="M0,0l6,8l6-8"/></svg>');
}

select[multiple] {
  background: none;
  height: auto;
}

textarea {
  min-height: var(--cpg-spacing-16x);
}

label,
legend {
  display: block;
  font-size: var(--cpg-font-size);
  font-weight: var(--cpg-font-weight-label);
  margin-bottom: 0.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

.label-inline {
  display: inline-block;
  font-weight: var(--cpg-font-weight);
  margin-left: 0.5rem;
}

.container {
  margin: 0 auto;
  max-width: 112rem;
  padding: 0 var(--cpg-spacing-5x);
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.row.row-no-padding {
  padding: 0;
}

.row.row-no-padding > .column {
  padding: 0;
}

.row.row-wrap {
  flex-wrap: wrap;
}

.row.row-top {
  align-items: flex-start;
}

.row.row-bottom {
  align-items: flex-end;
}

.row.row-center {
  align-items: center;
}

.row.row-stretch {
  align-items: stretch;
}

.row.row-baseline {
  align-items: baseline;
}

.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

.row .column.column-offset-10 {
  margin-left: 10%;
}

.row .column.column-offset-20 {
  margin-left: 20%;
}

.row .column.column-offset-25 {
  margin-left: 25%;
}

.row .column.column-offset-33,
.row .column.column-offset-34 {
  margin-left: 33.3333%;
}

.row .column.column-offset-40 {
  margin-left: 40%;
}

.row .column.column-offset-50 {
  margin-left: 50%;
}

.row .column.column-offset-60 {
  margin-left: 60%;
}

.row .column.column-offset-66,
.row .column.column-offset-67 {
  margin-left: 66.6666%;
}

.row .column.column-offset-75 {
  margin-left: 75%;
}

.row .column.column-offset-80 {
  margin-left: 80%;
}

.row .column.column-offset-90 {
  margin-left: 90%;
}

.row .column.column-10 {
  flex: 0 0 10%;
  max-width: 10%;
}

.row .column.column-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.row .column.column-25 {
  flex: 0 0 25%;
  max-width: 25%;
}

.row .column.column-33,
.row .column.column-34 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.row .column.column-40 {
  flex: 0 0 40%;
  max-width: 40%;
}

.row .column.column-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.row .column.column-60 {
  flex: 0 0 60%;
  max-width: 60%;
}

.row .column.column-66,
.row .column.column-67 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.row .column.column-75 {
  flex: 0 0 75%;
  max-width: 75%;
}

.row .column.column-80 {
  flex: 0 0 80%;
  max-width: 80%;
}

.row .column.column-90 {
  flex: 0 0 90%;
  max-width: 90%;
}

.row .column .column-top {
  align-self: flex-start;
}

.row .column .column-bottom {
  align-self: flex-end;
}

.row .column .column-center {
  align-self: center;
}

@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -0.5rem;
    width: calc(100% + var(--cpg-spacing-5x));
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 var(--cpg-spacing-2x);
  }
}

a {
  color: var(--cpg-color-primary);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--cpg-color-focus);
}

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 90%;
  margin: var(--cpg-spacing-4x) 0 var(--cpg-spacing-4x) var(--cpg-spacing-7x);
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

.button,
button,
dd,
dt,
li {
  margin-bottom: var(--cpg-spacing-2x);
}

fieldset,
input,
select,
textarea {
  margin-bottom: var(--cpg-spacing-4x);
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: var(--cpg-spacing-6x);
}

table {
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  width: 100%;
}

td,
th {
  border-bottom: var(--cpg-border-width) solid var(--cpg-color-divider);
  padding: var(--cpg-padding-td);
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

@media (min-width: 40rem) {
  table {
    display: table;
    overflow-x: initial;
  }
}

b,
strong {
  font-weight: var(--cpg-font-weight-bold);
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--cpg-font-weight-hx);
  letter-spacing: var(--cpg-letter-spacing-hx);
  margin-bottom: var(--cpg-spacing-5x);
  margin-top: 0;
}

h1 {
  font-size: var(--cpg-font-size-h1);
  line-height: 1.2;
}

h2 {
  font-size: var(--cpg-font-size-h2);
  line-height: 1.25;
}

h3 {
  font-size: var(--cpg-font-size-h3);
  line-height: 1.3;
}

h4 {
  font-size: var(--cpg-font-size-h4);
  line-height: 1.35;
}

h5 {
  font-size: var(--cpg-font-size-h5);
  line-height: 1.5;
}

h6 {
  font-size: var(--cpg-font-size-h6);
  line-height: 1.4;
}

img {
  max-width: 100%;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
