/** Modified version of Milligram */
@import './theme.css';

html {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--cpg-color-bg-app);
  color: var(--cpg-color-text);

  font-family: var(--cpg-font-family-sans);
  font-size: var(--cpg-font-size);
  font-weight: var(--cpg-font-weight);
  letter-spacing: var(--cpg-letter-spacing);
  line-height: var(--cpg-line-height);
}

.app {
  /* Ensure the root app element takes up the full screen size. */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: column nowrap;
}

header {
  margin: 0;
  padding: var(--cpg-spacing-2x) var(--cpg-spacing-4x);

  box-shadow: var(--cpg-spacing-half) var(--cpg-spacing-half)
    var(--cpg-spacing-1x) var(--cpg-color-shadow);
  z-index: var(--cpg-z-index-header);

  background-color: var(--cpg-color-bg-header);
  justify-content: space-between;
}

header h1 {
  font-size: x-large;
}

header > * {
  padding: 0;
  margin: 0;
}

header form input:last-child,
header form button:last-child,
header form .button:last-child,
header form textarea,
header form select,
header form label {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  margin-right: var(--cpg-spacing-2x);
}

.button,
button,
input,
select {
  min-width: var(--cpg-spacing-24x);
}

/** Utilities **/

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

.flex-align-items-center {
  align-items: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.text-nowrap {
  white-space: nowrap;
}
