:root {
  /** Spacing **/

  --cpg-spacing-half: 0.125rem;
  --cpg-spacing-1x: 0.25rem;
  --cpg-spacing-2x: 0.5rem;
  --cpg-spacing-3x: 0.75rem;
  --cpg-spacing-4x: 1rem;
  --cpg-spacing-5x: 1.25rem;
  --cpg-spacing-6x: 1.5rem;
  --cpg-spacing-7x: 1.75rem;
  --cpg-spacing-8x: 2rem;
  --cpg-spacing-10x: 2.5rem;
  --cpg-spacing-12x: 3rem;
  --cpg-spacing-16x: 4rem;
  --cpg-spacing-20x: 5rem;
  --cpg-spacing-24x: 6rem;

  --cpg-padding-blockquote: var(--cpg-spacing-2x) var(--cpg-spacing-3x);
  --cpg-padding-button: 0 var(--cpg-spacing-7x);
  --cpg-padding-code: var(--cpg-spacing-half) var(--cpg-spacing-1x);
  --cpg-padding-input: var(--cpg-spacing-1x) var(--cpg-spacing-3x);
  --cpg-padding-pre-code: var(--cpg-spacing-2x) var(--cpg-spacing-3x);
  --cpg-padding-td: var(--cpg-spacing-3x) var(--cpg-spacing-4x);

  --cpg-margin-code: 0 var(--cpg-spacing-half);
  --cpg-margin-divider: var(--cpg-spacing-7x) 0;

  --cpg-height-button: var(--cpg-spacing-10x);
  --cpg-height-input: var(--cpg-spacing-10x);

  /** Borders **/

  --cpg-border-radius: 0.25rem;

  --cpg-border-width: 0.0625rem;
  --cpg-border-width-thick: 0.1875rem;

  /** Elevation **/

  --cpg-z-index-header: 100;

  /** Font **/

  --cpg-font-family-sans: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;

  --cpg-font-size-sm: 0.85rem;
  --cpg-font-size: 1rem;
  --cpg-font-size-h1: 2.875rem;
  --cpg-font-size-h2: 2.25rem;
  --cpg-font-size-h3: 1.75rem;
  --cpg-font-size-h4: 1.375rem;
  --cpg-font-size-h5: 1.125rem;
  --cpg-font-size-h6: var(--cpg-font-size);

  --cpg-font-weight: 300;
  --cpg-font-weight-bold: 700;
  --cpg-font-weight-button: 700;
  --cpg-font-weight-hx: var(--cpg-font-weight);
  --cpg-font-weight-label: 600;

  --cpg-letter-spacing: 0.01em;
  --cpg-letter-spacing-button: 0.0625rem;
  --cpg-letter-spacing-hx: 0.0625rem;

  --cpg-line-height: 1.6;
  --cpg-line-height-button: var(--cpg-height-button);

  /** Color **/

  --cpg-color-neutral-000: hsl(0, 0%, 99%);
  --cpg-color-neutral-050: hsl(0, 0%, 95%);
  --cpg-color-neutral-100: hsl(0, 0%, 90%);
  --cpg-color-neutral-150: hsl(0, 0%, 85%);
  --cpg-color-neutral-200: hsl(0, 0%, 80%);
  --cpg-color-neutral-300: hsl(0, 0%, 70%);
  --cpg-color-neutral-400: hsl(0, 0%, 60%);
  --cpg-color-neutral-500: hsl(0, 0%, 50%);
  --cpg-color-neutral-600: hsl(0, 0%, 40%);
  --cpg-color-neutral-700: hsl(0, 0%, 30%);
  --cpg-color-neutral-800: hsl(0, 0%, 20%);
  --cpg-color-neutral-850: hsl(0, 0%, 15%);
  --cpg-color-neutral-900: hsl(0, 0%, 10%);
  --cpg-color-neutral-950: hsl(0, 0%, 5%);
  --cpg-color-neutral-999: hsl(0, 0%, 0%);

  --cpg-color-text-dark: hsla(0, 0%, 10%, 85%);
  --cpg-color-text-light: hsla(0, 0%, 99%, 90%);
  --cpg-color-shadow: hsla(0, 0%, 10%, 25%);

  --cpg-color-primary-100: hsl(90, 40%, 90%);
  --cpg-color-primary-200: hsl(90, 40%, 80%);
  --cpg-color-primary-300: hsl(90, 40%, 70%);
  --cpg-color-primary-400: hsl(90, 40%, 60%);
  --cpg-color-primary-500: hsl(90, 40%, 45%);
  --cpg-color-primary-600: hsl(90, 40%, 35%);
  --cpg-color-primary-700: hsl(90, 40%, 30%);
  --cpg-color-primary-800: hsl(90, 40%, 25%);
  --cpg-color-primary-900: hsl(90, 40%, 20%);
}

@media (prefers-color-scheme: light) {
  :root {
    --cpg-color-text: var(--cpg-color-text-dark);
    --cpg-color-bg-app: var(--cpg-color-neutral-050);
    --cpg-color-bg-header: var(--cpg-color-neutral-000);

    --cpg-color-primary: var(--cpg-color-primary-600);
    --cpg-color-primary-contrast: var(--cpg-color-text-light);

    --cpg-color-focus: var(--cpg-color-primary-800);
    --cpg-color-code: var(--cpg-color-neutral-100);
    --cpg-color-border: var(--cpg-color-neutral-150);
    --cpg-color-divider: var(--cpg-color-neutral-200);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --cpg-color-text-main: var(--cpg-color-text-light);
    --cpg-color-bg-app: var(--cpg-color-neutral-850);
    --cpg-color-bg-header: var(--cpg-color-neutral-000);

    --cpg-color-primary: var(--cpg-color-primary-400);
    --cpg-color-primary-contrast: var(--cpg-color-text-dark);

    --cpg-color-focus: var(--cpg-color-primary-500);
    --cpg-color-code: var(--cpg-color-neutral-700);
    --cpg-color-border: var(--cpg-color-neutral-700);
    --cpg-color-divider: var(--cpg-color-neutral-700);
  }
}
